/* assets/screen.css */

/* begin CSS reset */
html,body,div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,form,fieldset,caption,
table,tr,td,th,address,blockquote,img {
  margin:0;
  padding:0;
}
img, fieldset, object {
  border:none;
}
*, *:after, *:before {
  flex:1 0 auto; /* safari bugfix */
  box-sizing:border-box;
}
button, label {
  cursor:pointer;
}
html, body {
  height:100%;
}

hr {
 display:none;
}
body, button, input, table, textarea, select {
 font:normal 1em/1.5 arial,helvetica,sans-serif;
}
/* end CSS reset */

/* begin main styles */

body {
  background-color: slategrey;
}

#page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: auto;
  margin: 0 auto;
  color: yellow;
}

#page-container a {
  color: yellow;
  text-decoration: none;
}

#page-container a:hover {
  font-weight: bold;
}

#page-container h2 {
  display: grid;
  place-items: center;
  flex-grow: 0;
}

header {
  display: grid;
  place-items: center;
  flex-grow: 0;
}

main {
  padding-bottom: 2.5rem;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

article {
  flex: 1 1 200px;
  margin: 10px;
  padding: 20px;
  background-color: blue;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* end main styles */

/* begin media queries */



